<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>tranlong5252.foodsupplychain.Main</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.ProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompaniesController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.CompaniesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompaniesController</servlet-name>
        <url-pattern>/Companies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.CompanyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyController</servlet-name>
        <url-pattern>/Company</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegionsController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.RegionsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegionsController</servlet-name>
        <url-pattern>/Regions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegionController</servlet-name>
        <servlet-class>tranlong5252.foodsupplychain.controllers.RegionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegionController</servlet-name>
        <url-pattern>/Region</url-pattern>
    </servlet-mapping>
</web-app>
